@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ValentineCoolday";
  src: url("/fonts/ValentineCoolday.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Ensure nothing adds background accidentally */
h1,
span,
button {
  background-color: transparent;
}
